<!DOCTYPE html>
<html lang="en">

{include file="../application/admin/view/header_head.html"}

<body>
    <div class="navbar navbar-default" id="navbar">
        <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {}
        </script>
        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="/admin" class="navbar-brand">
                    <small>
                            <!-- <i class="icon-leaf"></i> -->
                            {$title}
                        </small>
                </a>
                <!-- /.brand -->
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>欢迎光临,</small>
                                <span id="showNickOrUserName">{$admin.nick}</span>
                            </span>
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="javascript:" class="modify_password">
                                    <i class="icon-cog"></i> 修改密码
                                </a>
                            </li>
                            <li>
                                <a href="javascript:" class="modify_nick">
                                    <i class="icon-user"></i> 修改昵称
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="logout">
                                    <i class="icon-off"></i> 退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.ace-nav -->
            </div>
            <!-- /.navbar-header -->
        </div>
        <!-- /.container -->
    </div>
    <!-- footer里收尾 -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {}
        </script>
        <!-- footer里收尾 -->
        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>
            <div class="sidebar" id="sidebar">
                <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'fixed')
                } catch (e) {}
                </script>
                <div class="sidebar-shortcuts hidden" id="sidebar-shortcuts">
                    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                        <a class="btn btn-success" title="管理员" href="{$Think.const.BASE_URL}?s=admin/admin/index">
                            <i class="icon-user"></i>
                        </a>
                        <a class="btn btn-info" title="管理新闻" href="{$Think.const.BASE_URL}?s=admin/news/index">
                            <i class="icon-book"></i>
                        </a>
                        <a class="btn btn-warning" title="新闻分类" href="{$Think.const.BASE_URL}?s=admin/news/cates">
                            <i class="icon-bookmark"></i>
                        </a>
                        <a class="btn btn-danger" title="网站设置" href="{$Think.const.BASE_URL}?s=admin/config/index">
                            <i class="icon-cog"></i>
                        </a>
                    </div>
                    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>
                        <span class="btn btn-info"></span>
                        <span class="btn btn-warning"></span>
                        <span class="btn btn-danger"></span>
                    </div>
                </div>
                <!-- #sidebar-shortcuts -->
                <ul class="nav nav-list" id="leftAdminMenu">
                    {volist name="menu" id="rootMenu"}
                    <li data-id="{$rootMenu.id}" class="rootMenu">
                        <a href="{$rootMenu['route']?'/?s='.$rootMenu['route']:'javascript:'}" class="dropdown-toggle">
                            <!-- <i class="{$rootMenu['icon'] ? $rootMenu['icon'] : 'icon-list'}"></i> -->
                             <div style="height: 30px;float: left;margin-left: 10px;margin-right: 5px;"><img style="width: 20px;" src="./assets/icon/{$rootMenu['icon'] ? $rootMenu['icon'] : 'icon-list'}.png"></div>
                            <span class="menu-text"> {$rootMenu.name} </span> 
                            {if condition="$rootMenu.children"}
                            <b class="arrow icon-angle-down"></b> 
                            {/if}
                        </a>
                        {if condition="$rootMenu.children"}
                        <ul class="submenu">
                            {volist name="rootMenu.children" id="childMenu"}
                            <li data-id="{$childMenu.id}" class="childMenu">
                                <a href="{$childMenu.route?'/?s='.$childMenu.route:'javascript:'}">
                                    <i class="{$childMenu.icon?$childMenu.icon:'icon-double-angle-right'}"></i> 
                                    {$childMenu.name}
                                </a>
                            </li>
                            {/volist}
                        </ul>
                        {/if}
                    </li>
                    {/volist}
                </ul>
                <!-- /.nav-list -->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>
                <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'collapsed')
                } catch (e) {}
                </script>
            </div>
            <!-- footer里收尾 -->
            <div class="main-content">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {}
                    </script>
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i>
                            <a href="/admin">首页</a>
                        </li>
                        {volist name="breadcrumb" id="item"}
                        <li>
                            {if condition="@$item.url"}
                            <a href="{$baseURL}{$item.url}">{$item.name}</a>
                            {else}
                            {$item.name}
                            {/if}
                        </li>
                        {/volist}
                        <li class="active">{$title}</li>
                        <li><a href="javascript:history.back()">返回</a></li>
                    </ul>
                    <!-- .breadcrumb -->
                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="搜索菜单" id="searchMenuBtn" class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="icon-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div>
                    <!-- #nav-search -->
                </div>
                <!-- footer里收尾 -->
                <div class="page-content row" style="padding: 10px 10px 10px 0px;">
                